{{ define "main" }}
<section>
<div>
    <h1><span>Crimson Quirk</span> Development Company, is a dynamic and innovative firm </h1>
</div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem officia cupiditate recusandae quibusdam
            repellat amet accusantium est, aliquid alias reiciendis quidem provident officiis nihil voluptatibus nobis
            exercitationem fugit culpa? Voluptatem?</p>
    </div>
    <div id="action-btn">
    <a href="/blog">
        <button class="a">Blog</button>
    </a>
    <a href="/contact">
        <button class="b">Contact</button>
    </a>
    </div>
</section>
<section>
    <h1 class="tink">About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo veritatis molestias fuga numquam reprehenderit
        itaque fugiat sequi nihil, dicta ea perspiciatis ullam fugit rerum consequatur magnam cum sed nesciunt
        incidunt.</p>
    <div class="card">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est consequatur quam provident nam voluptate modi ut
            ad dignissimos! Minima recusandae distinctio neque repellendus, cum ullam voluptatum unde labore sequi hic.
        </p>
        <div>
            <a class="link" href="/about">read more</a>
        </div>
    </div>
</section>
<section>
    <div>
        <h1 class="tink">Blog</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A minus aperiam, repudiandae tempora, officia
            explicabo
            voluptatibus quidem blanditiis dolorum illo eveniet earum? Laborum hic voluptate et natus voluptates
            adipisci
            provident.</p>
        <div class="card">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est consequatur quam provident nam voluptate
                modi ut
                ad dignissimos! Minima recusandae distinctio neque repellendus, cum ullam voluptatum unde labore sequi
                hic.
            </p>
            <div>
                <a class="link" href="/blog">read more</a>
            </div>
        </div>
</section>
{{end}}