{{ define "main" }}
<section>
    <div>
        <h1><span>Crimson Quirk</span> is a dynamic and innovative firm </h1>
    </div>
    <div>
        <p>Empowering Tomorrow, One Line of Code at a Time!</p>
    </div>
    <div id="action-btn">
        <a href="/blog">
            <button class="a">Blog</button>
        </a>
        <a href="/contact">
            <button class="b">Contact</button>
        </a>
    </div>
</section>
<section>
    <h1 class="tink">About</h1>
    <p>Unveiling the Essence: A Deeper Dive into Our Software Journey.</p>
    <div class="card">
        <p>Crimson Quirk Development Company is a dynamic and innovative firm dedicated to shaping the future of
            technology through cutting-edge solutions and forward-thinking strategies. With a team of highly skilled
            professionals spanning various disciplines, we specialize in delivering top-notch software development, web
            application design, and mobile app solutions tailored to meet the unique needs of our clients.
        </p>
        <div>
            <a class="link" href="/about">read more</a>
        </div>
    </div>
</section>
<section>
    <div>
        <h1 class="tink">Blog</h1>
        <p>Bytes of Insight: Navigating the Digital Landscape through Our Blog.</p>
        <div class="card">
            <p>Your go-to destination for insightful articles, deep dives, and expert perspectives on the latest trends,
                innovations, and challenges in the ever-evolving world of technology. Stay informed, inspired, and ahead
                of the curve with our diverse range of blog posts.
            </p>
            <div>
                <a class="link" href="/blog">read more</a>
            </div>
        </div>
</section>
{{end}}